[submodule "hugo-theme-learn"]
	path = .hugo/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "pandoc"]
	path = .pandoc
	url = https://github.com/cagix/pandoc-lecture
[submodule "hugo-lecture"]
	path = .hugo/hugo-lecture
	url = https://github.com/cagix/Hugo-Lecture
