name: Convert Markdown sources to PDF

on:
  # push on master branch
  push:
    branches: [master]
  # triggered manually
  workflow_dispatch:
  # triggered by pull requests
  pull_request:

jobs:
  pdf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cagix/pandoc-lecture-zen@master
        with:
          mktarget: pdf
          pandoc_data: .pandoc
          metadata: cb.yaml
          publish_dir: _pdf
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _pdf
          publish_branch: _pdf
          force_orphan: true
