name: SLIDES
on:
  # push on master branch: build slides
  push:
    branches: [master]
  # manually triggered: build slides
  workflow_dispatch:


jobs:
  # build slides: "make slides"
  slides:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: ./.github/actions/alpine-pandoc-hugo
        with:
          make-target: 'make slides'
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: _slides
          publish_dir: pdf/
          force_orphan: true
